<h1>You are home!</h1>
<p> Create a route that maps to '/' from a method called index in a Home controller </p>

<p> Create TWO new routes and the corresponding file structure for the controller and view templates.</p>
<ul>
<li>First, create a route that maps to '/hello' from a method called hello in a Greeting controller.</li>

<li>Then, create a route that maps to '/goodbye' from a method called goodbye in the Greeting controller.</li>
</ul>
